*.exe
*.obj
*.dblite
*.o
*.bak
*.sdf
*.suo
*.pdb
*.opensdf
*.idb
*.*~
*.ilk
doc/doxygen/html





/example/msvc/.vs
/example/msvc/_OutPut
/example/msvc/Debug
/example/msvc/pnm.VC.db
/example/msvc/pnm.VC.VC.opendb
/example/out
/example/msvc/*.db
/example/*.pbm
/example/*.pgm
